.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 80px;
}

.headerLeft {
  display: flex;
  align-items: center;
  gap: 40px;
}

.headerLeft h2 {
  font-size: 30px;
  font-weight: 500;
}

.headerLeft img {
  width: 268;
  height: 59;
}

.headerTitle {
  background-color: var(--font-bg-color);
}
